body {
    background-color: #D8DFE8;
}

.logo-img {
    margin: 20px;
    width: 40px;
    height: 30px;
}

.middle-part {
    height: 100vh;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-to-encrypt {
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.text-to-encrypt label {
    padding-bottom: 20px;
}

.result {
    background-color: rgb(37, 129, 129);
    height: 80vh;
    width: 35vw;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    color: aliceblue;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.result img {
    width: 80%;
    align-self: center;
}

.container {
    display: flex;
    justify-content: space-between;
}
